.navbar {
    height: 100svh;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(4rem + 4vw) calc(2rem + 2vw);
    flex-direction: column;
    background-color: var(--lightgrey);
}

.navlist {

    width: 100%;
    height: 100%;
}

.navitem {
    display: flex;
    gap: calc(0.2rem + 0.2vw);
    border-bottom: var(--border);
    width: 100%;
    padding: calc(0.5rem + 0.5vw) 0;
    justify-content: space-between;
}

.navitem h3 {
    font-variation-settings: var(--text-weight);
    font-size: calc(1.5rem + 1.5vw);
}

.socialbar {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

.socialbar img {
    height: 1rem;
}

.isActive {
    font-variation-settings: var(--title-weight)
}