.container {
    width: 100%;
    max-width: 100%;
    width: fit-content;
}

.scrollContainer {
    width: 100%;
    padding-top: calc((0.7rem + 0.6vw) * 2);
}

.fadeIn {
    width: 100%;
}

/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {


    .scrollContainer {
        padding-top: calc((0.3rem + 0.6vw));
    }


}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {

    .scrollContainer {
        width: 100%;
        padding-bottom: 10rem;
    }
}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

@media (min-width: 120rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}