.main {
    position: relative;
    height: calc(100vh - 5rem);
    width: calc(100vw - (2 * var(--container-width)));
    padding: 4rem 2rem 0rem 2rem;
    max-width: 100%;
}


/* Mobile */
/* Up to 768px */
@media (max-width: 74rem) {
    .main {
        width: 100svw;
        min-height: 100svh;
        padding: 0;
        padding: 6rem 2rem;
        overflow: scroll;
    }
}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 86rem) {
    .main {
        position: relative;
        height: calc(100vh - 5rem);
        width: 100%;
        padding: 4rem 2rem 0rem 2rem;
        max-width: 100%;
    }
}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

@media (min-width: 120rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}