.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.container .leftContainer,
.container .rightContainer {
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden;

}

.leftContainer {
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.textContainer *,
.titleContainer * {
    text-align: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
    position: relative;

    width: 100%;
    align-items: center;
    min-height: 20rem;
}

.titleContainer h2 {
    font-size: calc(1.2rem + 1.5vw);
    font-variation-settings: "wght" 380;
    width: 100%;
    max-width: 10rem;
}

.lottieContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-48%);
    height: 100%;
    width: 100%;
}

.socials {
    display: flex;
    gap: calc(1rem + 0.5vw);
    padding-top: calc(1rem + 0.5vw);
}

.rightContainer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactus {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;
}

.rightContainer h1 {
    font-size: calc(1.2rem + 1vw);
}