.placeholderContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.dropzone {
    justify-self: center;
    width: 100%;
    margin-top: calc(2.5rem + 2.5vw);
    margin-left: calc(2.5rem + 2.5vw);

    height: calc(2.5rem + 2.5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    transition: opacity var(--time-fast) var(--bezier);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='2' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.dropzone .active {
    opacity: 1;
}

.object {
    position: absolute;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: var(--border);
    padding: calc(0.3rem + 0.3vw) calc(0.5rem + 0.5vw);
    gap: calc(.1vw + .1rem);
    border-radius: 30px;
    background-size: 100%;
    background-position: center;
    background-color: var(--lightgrey)
}

.object span {
    font-size: 0.75rem;
}

.object h2 {
    font-size: calc(.6rem + .6vw);
    text-wrap: nowrap;
    font-variation-settings: var(--text-weight);
}

.object h2::selection {
    background-color: transparent;
}

.object:hover {
    cursor: grab
}

.object:active {
    cursor: grabbing;
}


/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

@media (min-width: 120rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}