.imageContainer,
.imageContainerWithout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.sliderContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.imageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;


}

.sliderImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease;
    scale: 1.2;
}

.sliderImageRecord {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.imageWrapper img {
    max-height: 50vh;
    image-rendering: pixelated;
    scale: 1.001;
}

.navButton {
    position: absolute;
    top: 0;
    background-color: transparent;
    border: none;
    width: calc(0.5rem + 0.5vw);
    height: calc(0.5rem + 0.5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
    transition: background-color 0.2s ease;
}

.navButton:hover {
    background-color: transparent;
}

.prevButton {
    left: 45%;
}

.prevButton svg {
    transform: rotate(180deg)
}

.nextButton {
    right: 45%;
}

.indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    width: 100%;

}

.indicator {
    width: 10px;
    height: 10px;
    background-color: transparent;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    padding: 0;
    transform: rotateX(45deg);
    transition: all var(--time-fast) var(--bezier);
    background-color: rgba(255, 255, 255, 0.7);
}

.activeIndicator {
    background-color: rgba(255, 255, 255, 1);
    transform: rotateX(0deg);
    transform-origin: center;
}

/* For improved mobile experience */
@media (max-width: 768px) {
    .navButton {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .indicators {
        bottom: 10px;
    }

    .indicator {
        width: 8px;
        height: 8px;
        margin: 0 3px;
    }
}