.main {
    height: 100svh;
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.logocontainer {
    padding-top: calc(2vw + 1rem);
    height: fit-content;
}


.navigation {
    padding-bottom: calc(2vw + 1rem)
}


@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}