/******** !!!!!!!! DESKTOP STYLES !!!!!!!!! ********/

/******** VARIABLES ********/

:root {
    --font-size: 16px;
    --text-weight: "wght" 300;
    --black: #545454;
    --black-active: #393636;
    --title-weight: "wght" 600;
    --radius-large: 20px;
    --border: 1px solid var(--black);
    --border-active: 1px solid var(--black-active);
    --radius-large: 40px;
    --grey-lowopacity: rgba(247, 247, 247, 0.6);
    --blur: blur(20px);
    --bezier: cubic-bezier(0.39, 0.575, 0.565, 1);
    --time: 0.5s;
    --time-fast: 0.2s;

}

/******** GLOBAL STYLES ********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: fit-content;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

*::selection {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    color: var(--black-active);
}

body {
    background-image: url("../../public/images/3d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100svh;
    min-width: 100svw;
    overflow: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
nav,
li {
    color: var(--black);
}

h1,
h2,
h3,
h4,
h5 {
    font-variation-settings: var(--title-weight);
    text-transform: uppercase;
}

p,
input {
    hyphens: auto;
    font-size: calc(0.7rem + 0.3vw);
}

p,
a {
    font-variation-settings: var(--text-weight);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    border: var(--border);
    border-radius: var(--radius-large);
    padding: 0.25rem 0.75rem;
}

input,
textarea {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: var(--border);
    padding: calc(0.25rem + 0.25vw) calc(0.5rem + 0.25vw);
    width: 100%;
    font-family: inherit;

}


label {
    text-transform: uppercase;
    font-variation-settings: "wght" 200;
}

/******** !!!!!!!! MOBILE STYLES !!!!!!!!! ********/


/* Mobile */
@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }

}