.container {
    position: fixed;
    bottom: 5rem;
    left: 15rem;
    opacity: 0;
    width: 0;
    height: fit-content;
    border: var(--border);
    overflow: hidden;
    transition: width 0.6s var(--bezier);
    background-color: var(--lightgrey);
    z-index: 1;

}

.open {
    width: var(--aipopupwidth);
    opacity: 1;
    transition: width 0.6s var(--bezier);

}

.popupContainer {
    position: relative;
    width: var(--aipopupwidth);
}

.popup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: calc(0.5rem + 0.5vw);
    white-space: wrap;
    overflow: hidden;
    width: var(--aipopupwidth);
    gap: 1rem;
    height: 15rem;
}

.cross {
    position: absolute;
    top: .75rem;
    right: .75rem;
    z-index: 2;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crossLines {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
}

.string {
    height: 0.5px;
    width: 100%;
    background-color: var(--black);
    position: absolute;
    top: 50%;
}



.string:nth-of-type(1) {
    transform: rotate(45deg)
}

.string:nth-of-type(2) {
    transform: rotate(-45deg)
}

.cta {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: calc(0.25rem + 0.25vw);
    padding-top: calc(0.25rem + 0.25vw)
}


.cta svg {
    transform: rotate(-45deg)
}



/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {
    .container {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5rem;
        opacity: 0;
        width: 0;
        z-index: 0;
    }

    .open {
        width: var(--aipopupwidth);
        opacity: 1;
        transition: width 0.6s var(--bezier);
    }

    .popupContainer {
        width: var(--aipopupwidth);
    }

    .popup {
        width: var(--aipopupwidth);
    }
}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

@media (min-width: 120rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}