.item {
    width: 100%;
    border: var(--border);
    padding: calc(0.5rem + 0.25vw);
    position: relative;
    background-color: var(--lightgrey-lighter);
    height: 12.5rem;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.upperTitle {
    display: flex;
    gap: calc(0.2rem + 0.2vw);
}

.title h5 {
    font-family: var(--host);
    text-transform: none;
}

.crosscontainer {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.cross {
    position: relative;
    height: calc(0.4rem + 0.4vw);
    width: calc(0.4rem + 0.4vw);
}

.inner {
    position: relative;
    height: 100%;
    width: 100%;
}

.inner div {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: var(--black);
    transform: translate(-50%, -50%);
}

.inner .rotated {
    transform: translate(-50%, -50%) rotate(90deg);
}

/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {
    .item {
        height: 10rem;
    }

    .title h5 {
        font-size: 1rem;
    }

    .cross {
        height: calc(0.6rem + 0.6vw);
        width: calc(0.6rem + 0.6vw);
    }
}