.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--lightgrey);
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.4s var(--bezier);
    padding: var(--spacing) 0;
    padding-bottom: calc(var(--spacing) * 2);
    margin-top: var(--spacing);
    border-top: var(--border);

    --spacing: calc(1rem + 1vw);
}

.open {
    transform: translateX(0)
}

.contentcontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

.dropdowncontainer {

    width: 100%;
}

.textcontainer {
    width: 80%;
}

.textcontainer p {
    font-size: 1.2rem;
    line-height: 150%;
}

.select {
    appearance: none;
    border: none;
    background-color: var(--lightgrey);
    color: var(--black);
    outline: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    width: 55%;
    align-items: center;
    width: fit-content;
    gap: 2rem;
}

.dropdown {
    background-color: var(--lightgrey);
    z-index: 100;
}

.pickedValue {
    color: var(--black);

}

.arrow {
    transform: rotate(90deg);
    transition: transform 0.2s var(--bezier)
}

.dropdownopen {
    transform: rotate(-90deg)
}

.option {
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%;
    color: var(--black);
    padding: 0.25rem 0;
    text-transform: uppercase;
}

.option:hover,
.option[data-highlighted] {
    background-color: var(--black);
    color: var(--lightgrey);
    appearance: none;
    border: none;
    outline: none;

}

.buttoncontainer {
    align-self: flex-end;
}

.buttoncontainer button {
    text-transform: uppercase;
    border-radius: none;
    outline: none;
    padding: calc(0.25rem + 0.25vw) calc(0.5rem + 0.5vw);
    background-color: var(--lightgrey);
    border: var(--border);
    color: var(--black);
    cursor: pointer;
}