.container {
    min-width: 100%;
    border-bottom: 1px solid var(--black);
    overflow: hidden;
    height: var(--upper-height);
    transition: height calc(var(--time))var(--bezier);
    will-change: height;
    transition-delay: 0.2s;
}


.expanded {
    height: calc(var(--lower-height) + var(--upper-height))
}

.noBorder {
    border-bottom: none;
}



.upperContainer,
.lowerContainer {
    padding: calc(0.7rem + 0.6vw) 0;
    padding-top: calc((0.7rem + 0.6vw) * 2);
    padding-bottom: calc((0.7rem + 0.6vw) * 2);

}

.upperContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    min-height: calc(8rem + 8vw);

}

.titleContainer {
    display: flex;
    align-items: center;
    gap: calc(1rem + 1vw);
    cursor: pointer;
}

.titleContainer .arrow {
    transition: transform var(--time-fast) var(--bezier);
    transform: rotate(0deg);
    will-change: transform;
}

.title:hover .arrow {
    transform: rotate(90deg);
    transition: transform var(--time-fast) var(--bezier);
}

.expanded .upperContainer .arrow {
    transform: rotate(90deg)
}

.expanded .title:hover .arrow {
    transform: rotate(-45deg)
}


.title {
    display: flex;
    align-items: center;
    gap: calc(0.5rem + 1vw);
}


.title h2 {
    font-size: calc(2rem + 2vw);
    font-variation-settings: "wght" 500;
    transition: font-variation-settings 1s var(--bezier);
}




.index {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    height: 100%;
}

.index p {
    font-size: calc(0.3rem + 0.5vw);
    align-self: flex-start;
    font-variation-settings: "wght" 100;

}

.services {
    display: flex;
    flex-direction: column;
    gap: calc(0.2rem + 0.4vw);
    justify-content: center;
}

.service {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: calc(10rem + 10vw);
}

.service p {
    font-size: calc(0.4rem + 0.5vw);
    text-transform: uppercase;
    font-variation-settings: "wght" 200
}



.icon {
    transform: translateY(2px);
}

.icon img {
    height: calc(0.5rem + 0.5vw);
}



/* lower container styles */

.lowerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;

}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description p {
    font-variation-settings: "wght" 200;
    font-size: calc(0.4rem + 0.5vw);
    padding-left: 3.9rem;
}



.image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: calc((0.7rem + 0.6vw) * 4);
}

.lottieContainer {
    height: calc(6rem + 6vw);
    width: calc(6rem + 6vw);
}