.item {
    width: 100%;
    border: var(--border);
    padding: calc(0.5rem + 0.25vw);
    position: relative;
    background-color: var(--lightgrey-lighter);
    max-height: 12.5rem;
    height: 12.5rem;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s var(--bezier)
}


.item:hover {
    transform: rotateZ(0.5deg) scale(1.01)
}


.upperTitle {
    display: flex;
    gap: calc(0.2rem + 0.2vw)
}

.title h5 {
    text-transform: none;
    transition: color 0.3s var(--bezier)
}

.crosscontainer {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;

}

.cross {
    position: relative;
    height: calc(.4rem + .4vw);
    width: calc(.4rem + .4vw);
}


.inner {
    position: relative;
    height: 100%;
    width: 100%;
}



.inner div {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: var(--black);
    transform: translate(-50%, -50%)
}


.inner .rotated {
    transform: translate(-50%, -50%) rotate(90deg)
}